<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title || 'Mi tienda' %></title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<%- include('partials/header') %>


<main class="container">
<%- body %> <!-- aquí se inyecta la vista que renderices (index, etc.) -->
</main>


<%- include('partials/footer') %>
</body>
</html>



