<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="C:\Users\diego\OneDrive\Escritorio\Proyecto Facturación\Grupo-2---Facturaci-n\Spring_2\css\style.css">
</head>
<body>
    <header>
    <h1>Gestión de Servicios</h1>
    <nav>
        <a href="/index">Inicio</a>
        <a href="/clientes">Clientes</a>
        <a href="/productos">Productos</a>
        <a href="/" onclick="logout()">Salir</a>
    </nav>
    </header>

    <main>
    <h2>Registro de Servicios</h2>
    <form id="servicioForm">
        <input type="text" id="nombreServicio" placeholder="Servicio" required>
        <input type="number" id="precioServicio" placeholder="Precio" required>
        <button type="submit">Agregar Servicio</button>
    </form>

    <h2>Lista de Servicios</h2>
    <table id="tablaServicios">
        <thead>
        <tr>
            <th>Servicios</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </main>

    <script src="js/servicios.js"></script>
</body>
</html>
